Binaries/ 
DerivedDataCache/ 
Intermediate/ 
Content/
Saved/ 
Source/
Build/ 
Autosaves/ 
CrashReports/ 
ConfigBackup/ 
WindowsNoEditor/ 
LinuxNoEditor/ 
Android/ 
IOS/ 
.vs/ 
.vscode/ 
*.sln 
*.vcxproj 
*.vcxproj.filters 
*.vcxproj.user 
*.log 
*.tmp 
*.pdb 
*.obj 
Thumbs.db 
.DS_Store 
